.body {
  color: black;
}

.list {
  list-style: none;
  display: flex;
  gap: 10px;
}

.list-item {
}

.list-item2 {
}

.list-item3 {
}

.list-item4 {
}

.square {
  display: block;
  width: 40px;
  height: 40px;
  background-color: black;
}

.square2 {
  display: block;
  width: 40px;
  height: 40px;
  background-color: red;
}

.square3 {
  display: block;
  width: 40px;
  height: 40px;
  background-color: gold;
}

.square4 {
  display: block;
  width: 40px;
  height: 40px;
  background-color: violet;
}
